{% extends 'base.html' %}

{% block contenido %}

    <div class="container" id="ctt-maindiv">
        <div class="ctt-container" style="margin-bottom:50px">
            <h1>Crear Post</h1>

            {% if post_success %}
                <div style="width: 20%; margin:auto">
                    <svg viewBox="0 0 24 24">
                      <g>
                        <path style="fill: rgb(29, 155, 240);" d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z"></path>
                      </g>
                    </svg>
                </div>
                <div>
                    <h4>
                        Posteo creado correctamente!
                    </h4>
                    <p>
                        Se verá reflejado en el sitio a la brevedad posible...
                    </p>
                </div>
            {% else %}
                {% if object.comment_author_id == user.id or user.is_superuser %}
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                {% else %}
                    <div style="width: 20%; margin:auto">
                        <svg viewBox="0 0 18 18">
                          <g>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" fill="#fff3a3"></path>
                          </g>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            No posee permisos!
                        </h4>
                        <p>
                            Contactese con el administrador para poder acceeder a la funcion...
                        </p>
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock contenido %}