{% extends 'base.html' %}

{% block contenido %}

    <div class="container" id="ctt-maindiv">
            <div class="ctt-container" style="margin-bottom:50px">
                <h1>Eliminar</h1>

                {% if user.is_authenticated and user.es_colaborador %}
                    <div style="width: 20%; margin:auto">
                        <svg viewBox="0 0 18 18">
                            <g>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" fill="#fff3a3"></path>
                            </g>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            Esta seguro que desea eliminar "{{ object }}"?
                        </h4>
                        <form method="post">{% csrf_token %}
                            <input type="submit" value="Confirmar">
                        </form>
                    </div>
                {% else %}
                    <div style="width: 20%; margin:auto">
                        <svg viewBox="0 0 18 18">
                            <g>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" fill="#fff3a3"></path>
                            </g>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            No posee permisos!
                        </h4>
                        <p>
                            Contactese con el administrador para poder acceeder a la funcion...
                        </p>
                    </div>
                {% endif %}
            </div>
    </div>

{% endblock contenido %}